.gradient-image {
    position: relative;
    display: inline-block;
}

.gradient-image::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    background: linear-gradient(to right, rgba(17, 17, 17, 0.9) 0%, rgba(233, 228, 238, 0.2) 100%);
}

.gradient-image img {
    display: block;
    height: 800px;
}